@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
  .night {
    position: relative;
    width: 100%;
    height: 20%;
    transform: rotateZ(135deg);
    z-index: -1;
    position: absolute;
    top: 200px;
    left:-450px;
  }
  .shooting_star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #699bff);
    animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
  }
  .shooting_star::before {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(-45deg);
    border-radius: 100%;
    animation: shining 3000ms ease-in-out infinite;
  }
  .shooting_star::after {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining 3000ms ease-in-out infinite;
    transform: translateX(50%) rotateZ(-45deg);
  }
  .shooting_star:nth-child(1) {
    top: calc(50% - 154px);
    left: calc(50% - 182px);
    animation-delay: 5245ms;
  }
  .shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
    animation-delay: 5245ms;
  }
  .shooting_star:nth-child(2) {
    top: calc(50% - -119px);
    left: calc(50% - 187px);
    animation-delay: 4169ms;
  }
  .shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
    animation-delay: 4169ms;
  }
  .shooting_star:nth-child(3) {
    top: calc(50% - -62px);
    left: calc(50% - 170px);
    animation-delay: 5922ms;
  }
  .shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
    animation-delay: 5922ms;
  }
  .shooting_star:nth-child(4) {
    top: calc(50% - -48px);
    left: calc(50% - 300px);
    animation-delay: 3045ms;
  }
  .shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
    animation-delay: 3045ms;
  }
  .shooting_star:nth-child(5) {
    top: calc(50% - -25px);
    left: calc(50% - 63px);
    animation-delay: 9545ms;
  }
  .shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
    animation-delay: 9545ms;
  }
  .shooting_star:nth-child(6) {
    top: calc(50% - -158px);
    left: calc(50% - 100px);
    animation-delay: 2898ms;
  }
  .shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
    animation-delay: 2898ms;
  }
  .shooting_star:nth-child(7) {
    top: calc(50% - -151px);
    left: calc(50% - 240px);
    animation-delay: 1342ms;
  }
  .shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
    animation-delay: 1342ms;
  }
  .shooting_star:nth-child(8) {
    top: calc(50% - 143px);
    left: calc(50% - 81px);
    animation-delay: 1386ms;
  }
  .shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
    animation-delay: 1386ms;
  }
  .shooting_star:nth-child(9) {
    top: calc(50% - 37px);
    left: calc(50% - 146px);
    animation-delay: 8272ms;
  }
  .shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
    animation-delay: 8272ms;
  }
  .shooting_star:nth-child(10) {
    top: calc(50% - 114px);
    left: calc(50% - 291px);
    animation-delay: 4905ms;
  }
  .shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
    animation-delay: 4905ms;
  }
  .shooting_star:nth-child(11) {
    top: calc(50% - -174px);
    left: calc(50% - 267px);
    animation-delay: 430ms;
  }
  .shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
    animation-delay: 430ms;
  }
  .shooting_star:nth-child(12) {
    top: calc(50% - -157px);
    left: calc(50% - 284px);
    animation-delay: 1969ms;
  }
  .shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
    animation-delay: 1969ms;
  }
  .shooting_star:nth-child(13) {
    top: calc(50% - 3px);
    left: calc(50% - 171px);
    animation-delay: 8274ms;
  }
  .shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
    animation-delay: 8274ms;
  }
  .shooting_star:nth-child(14) {
    top: calc(50% - 178px);
    left: calc(50% - 175px);
    animation-delay: 2766ms;
  }
  .shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
    animation-delay: 2766ms;
  }
  .shooting_star:nth-child(15) {
    top: calc(50% - -78px);
    left: calc(50% - 251px);
    animation-delay: 9691ms;
  }
  .shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
    animation-delay: 9691ms;
  }
  .shooting_star:nth-child(16) {
    top: calc(50% - -23px);
    left: calc(50% - 276px);
    animation-delay: 4050ms;
  }
  .shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
    animation-delay: 4050ms;
  }
  .shooting_star:nth-child(17) {
    top: calc(50% - 112px);
    left: calc(50% - 82px);
    animation-delay: 4695ms;
  }
  .shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
    animation-delay: 4695ms;
  }
  .shooting_star:nth-child(18) {
    top: calc(50% - 34px);
    left: calc(50% - 256px);
    animation-delay: 8593ms;
  }
  .shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
    animation-delay: 8593ms;
  }
  .shooting_star:nth-child(19) {
    top: calc(50% - 102px);
    left: calc(50% - 66px);
    animation-delay: 4850ms;
  }
  .shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
    animation-delay: 4850ms;
  }
  .shooting_star:nth-child(20) {
    top: calc(50% - -117px);
    left: calc(50% - 114px);
    animation-delay: 493ms;
  }
  .shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
    animation-delay: 493ms;
  }
  @keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }
  @keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }
  @keyframes shooting {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(300px);
    }
  }
  @keyframes sky {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }
  



/* Hide scrollbar for Chrome, Safari and Opera */
.box2>div::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .box2>div {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
body{
    background-image: url("./images/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
}
.head >ul li{
   list-style-type:none;
   margin-left: 60px;
   font-size: 20px;
   color: white;
   font-weight: bold;
   transition-duration:400ms ;
}
.head>ul>li:hover{
    cursor: pointer;
    color: rgb(255, 116, 116) !important;
}
.active{
    color: rgb(255, 116, 116) !important;
    cursor: pointer;
    font-size: 30px !important;
    position: relative;
    background-image: linear-gradient(180deg,transparent 60%,rgba(255, 255, 255,0.3) 100%) !important;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition-delay: 10ms;
}
.nonactive{
    font-size: 20px;
    cursor: pointer;
}
.head ul{
    display: flex;
}
#contain{
    display: flex;
}
.box1{
    width: 40%;
    /* position: relative;
    z-index: 1; */
    /* border: 1px solid white; */

}
.box1>div{
    height: 600px;
    /* border: 1px solid white; */
    margin-top: 50px;
}
.box1>div>div:nth-child(2){
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;
}
#profile{
    aspect-ratio: 1/1;
    width: 180px;
    left: 210px;
    top:190px;
    position: absolute;
    z-index: 1;
}
#resume{
    background-color: white;
    text-decoration: none;
    border-radius: 5px;
    color: rgb(255, 116, 116);
    padding: 4px;
    transition-duration: 300ms;
}
#resume:hover{
    font-size: 25px;
    background-color: rgb(255, 116, 116);
    color: white;
}
#frame{
    width: 350px;
    margin-left: 120px;
    border-radius: 10px;
    z-index: 2;
}
#name{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
}
a>i{
padding: 10px;
transition-duration: 300ms;
}
a>i:hover{
    font-size: 30px;
    color: rgb(255, 116, 116) !important;
}
.box2{
    width: 60%;
    /* position: relative;
    z-index: 1; */
        /* border: 1px solid white; */

}
.about{
    /* border: 1px solid white; */
    height: 600px;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 17px;
    overflow: scroll;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: rgba(242, 242, 242,.4);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 50px 1px rgb(255, 255, 255);
}
.edu1{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid white; */
    height: 300px;
    margin-bottom: 50px;
    font-size: 22px;
    padding: 10px;
    color: white;
    background-color: rgba(242, 242, 242,.2);
    border-radius:10px ;
    box-shadow: 1px 1px 10px 10px rgba(242, 242, 242,.2);
    transition-duration: 400ms;
}
.edu1:hover{
    background-color: rgba(242, 242, 242,.4);
    box-shadow: 1px 1px 10px 10px rgba(242, 242, 242,.4);
}
.edu2{
    display: flex;
}
.edu2>div{
    width: 40%;
    /* border: 1px solid white; */
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    font-size: 22px;
    padding: 10px;
    color: white;
    background-color: rgba(242, 242, 242,.2);
    border-radius:10px ;
    box-shadow: 1px 1px 10px 10px rgba(242, 242, 242,.2);
    transition-duration: 400ms;
}
.edu2>div:hover{
    background-color: rgba(242, 242, 242,.4);
    box-shadow: 1px 1px 10px 10px rgba(242, 242, 242,.4);
}

#bio{
  color: rgb(255, 255, 255) ;
}
#block{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* background-color: white; */
  height: 700px;
  overflow: scroll;
}
#block::-webkit-scrollbar {
  display: none;
}

#block>div{
  width: 30%;
  background-color: #ffffff54;
  height: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 5px #ffffff54;
}
.heading{
  color: white;
  font-weight: 500;
  font-size: 3em;
  text-align: center;
  line-height: 1.5;
}
.cont>div:nth-child(1){
  padding: 15px;
}
.cont>button:nth-child(2){
  background-color: inherit;
  cursor: pointer;
  color: white;
  border: 1px solid #5f91ff;
  font-size: 1.2em;
}
.cont>button:nth-child(2):hover{
  color: orange;
}
.card{
  cursor: pointer;
}